[user]
	email = yaakaito@gmail.com
	name = yaakaito
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = cursor --wait
[alias]
	co = checkout
	st = status
	sw = switch
	ci = commit
	push-force = push --force-with-lease --force-if-includes
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
